{% extends 'newapp/1base.html' %}
{% block headcontent %}
    {% include 'newapp/2with_head.html' %}
{% endblock headcontent %}

{% block bodycontent %}
<body>
    <div class="container">
        <h1>Web Design</h1>
        <p>Pracice on Material style with Google Materialize Framework</p>
        <h2>Material 2</h2>
        <h3>Material 3</h3>
        <h4>Material 4</h4>
        <h5>Material 5</h5>
        <h6>Material 6</h6>
        <p class="flow-text">This is flow text - its responsible. Good for the first lines of some text ect.</p>
        <p>Here is Classic Paragraph doesnt change so dynamically because it's not responsive.</p>
    </div>
</body>
{% endblock bodycontent %}

