{% extends 'newapp/1base.html' %}

{% block headcontent %}
    {% include 'newapp/2with_head.html' %}
{% endblock headcontent %}

{% block bodycontent %}
<body>
    <div class="container">
        <h4 class="blue darken-1">Absolutely love your style of teaching Ninge</h4>
        <h4 class="orange lighten-4">one question, are you going to cover the Materialize</h4>
        <h4 class="purple darken-3 amber-text">DatePicker in this series, as I've been</h4>
        <h4 class="teal darken-2 yellow-text text-lighten-3">struggling with getting it working.</h4>
        <h4 class="red accent-4 black-text text-lighten-5">I end up with a basic date picker control.</h4>
    </div>
</body>
{% endblock bodycontent %}